#button-container {
    width: 270px;
}

#save-button {
    background-color: #FFC873;
    border: 1px solid #FFB440;
    color: #A66400;
    display: inline-block;
    padding: 6px 24px;
    text-decoration: none;
    float: right;
    margin-top: 2px;
}#save-button:hover {
    background-color: #FF9A00;
}#save-button:active {
    position: relative;
    top: 1px;
}

#delete-button {
    background-color: #FFC873;
    border: 1px solid #FFB440;
    color: #A66400;
    display: inline-block;
    padding: 6px 24px;
    text-decoration: none;
    margin-top: 2px;
}#delete-button:hover {
    background-color: #FF9A00;
}#delete-button:active {
    position: relative;
    top: 1px;
}#delete-button.disabled {
    background-color: #636363;
    border: 1px solid #333333;
    color: black;
    cursor: default;
}

#card-container {
    border: 2px solid #333333;
    width: 255px;
    height: 100%;
    padding: 5px;
}

#card-image-container {
    border: 1px solid #333333;
    width: 250px;
    height: 250px;
}#card-image-container:hover {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    cursor: hand; cursor: pointer;
}

#card-name-input {
    width: 249px;
}
#card-description-input {
    width: 247px;
}

#card-stat-container {
    border: 1px solid #333333;
    width: 250px;
}

.card-stat {
    width: 250px;
}

.card-stat-text {
    float: left;
    width: 75px;
}

.card-stat-input {
    width: 165px;
}

.invalid {
    border: 2px dashed red;
}