body {
    background-color: #AAAAAA;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

body, input, textarea, select, a {
    font-family: 'Roboto Slab', serif;
}

#header {
    height: 90px;
}

#content {
    width: 100%;
    float: left;
}

#sidebar {
    width: 200px;
    height: 100%;
    float: left;
}

#main-content {
    margin-left: 200px;
    padding-left: 50px;
}

#loading {
    position: absolute;
    right: -50px;
    top: 50px;
    z-index: 1000;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}