body {
    background-color: #AAAAAA;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

body, input, textarea, select, a {
    font-family: 'Roboto Slab', serif;
}

#header {
    height: 90px;
}

#content {
    width: 100%;
    float: left;
}

#side-bar {
    width: 200px;
    height: 100%;
    float: left;
    margin-left: -100%;
}

#main-content {
    margin-left: 200px;
}

.clear {
    clear: both;
}