#card-list {
    list-style-type: none;
}

.card-list-element, #new-card-list-element {
    margin-left: -20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 2px 11px;
    background-color: #F53D35;
    color: #E0E0E0;
    cursor: hand; cursor: pointer;
} .card-list-element:hover, #new-card-list-element:hover {
    background-color: #B12C49;
    margin-right: 10px;
}

.selected-card-list-element {
    margin-right: 10px;
    background-color: #B12C49;
}